<div class="page-header">
    <h3 class="page-title"> {{pgtitulo}}</h3>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{{titulo}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{tipo}}</li>
    </ol>
    </nav>
</div>