<!DOCTYPE html>
<html lang="es">
  {{> header }}
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      {{> navbar }}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        {{> nav }}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {{> pageheader }}
            <div class="row">                  
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"> <i class="mdi mdi-account-circle"></i> Milton Coral</h4>
                    <p class="card-description"> Estudiante <code>&lt;Ciencias de la Computación&gt;</code></p>
                    
                    <div class="col-sm-6">
                        <p class="text-muted"><i class="mdi mdi-google-maps"></i> Quito, Ecuador</p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"> <i class="mdi mdi-account-circle"></i> Gustavo Contreras</h4>
                    <p class="card-description"> Estudiante <code>&lt;Ciencias de la Computación&gt;</code></p>
                    <div class="col-sm-6">
                        <p class="text-muted"><i class="mdi mdi-google-maps"></i> Quito, Ecuador</p>
                    </div>
                    <ul>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Consectetur adipiscing elit</li>
                      <li>Integer molestie lorem at massa</li>
                      <li>Facilisis in pretium nisl aliquet</li>
                      <li>Nulla volutpat aliquam velit</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"> <i class="mdi mdi-account-circle"></i> Alexander Ñacato</h4>
                    <p class="card-description"> Estudiante <code>&lt;Ciencias de la Computación&gt;</code></p>
                    <div class="col-sm-6">
                        <p class="text-muted"><i class="mdi mdi-google-maps"></i> Quito, Ecuador</p>
                    </div>
                    <p> It is a long <span class="font-weight-bold">established fact</span> that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"> <i class="mdi mdi-account-circle"></i> Alexis Vallejo</h4>
                    <p class="card-description"> Estudiante <code>&lt;Ciencias de la Computación&gt;</code></p>
                    <div class="col-sm-6">
                        <p class="text-muted"><i class="mdi mdi-google-maps"></i> Quito, Ecuador</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-muted"><i class="mdi mdi-contact-mail"></i> avallejog@est.ups.edu.ec</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-muted"><i class="mdi mdi-cellphone-iphone"></i> +593 97 863 9792</p>
                    </div>
                    <div class="card-footer clearfix d-flex justify-content-center">
                      <div class="col-sm-6">
                          <h3 class="text-info">
                            <a href="https://www.facebook.com/alexisvg2520" target="_blank"><i class="mdi mdi-facebook"></i></a>
                            <a href="https://www.instagram.com/alexisvg2520" target="_blank"><i class="mdi mdi-instagram"></i></a>
                            <a href="https://github.com/alexisvg2520" target="_blank"><i class="mdi mdi-github-circle"></i></a>
                          </h3>
                      </div>
                    </div>                    
                  </div>
                </div>
              </div>                       
            </div>            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {{> footer }}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>