<!DOCTYPE html>
<html lang="es">
  {{> header }}
  <body>

    <script type="text/javascript" src="assets/js/jquery-3.6.0.js">/*Jquery script */</script>  

    <script type="text/javascript" src="assets/js/highcharts.js"></script>

    <script type="text/javascript" src="assets/js/jquery.highchartTable.js"></script>

    <script type="text/javascript" src="assets/js/dom-to-image.js"> /*dom to image script */</script>

    
    <script type="text/javascript" src="assets/js/popper.min.js">/*POPPER LIBRERIA */</script>

    <script type="text/javascript" src="assets/js/jquery-ui.js"></script>
    


 


    <script>
        /* Cargar la tabla al incio llamada a metodo get nodejs */
        
        $(document).ready(function () {
			$.ajax('http://localhost:3000/list',   // request url
			{            
				success: function (data, status, xhr) {    // success callback function

            buildTable(data);   //  llamada ala funcion que transforma el JSON a tabla
				}
			});
        });
 
        function buildTable(data) {  // funcion que transforma el JSON
            var table = document.getElementById('tabledata')   // se construye la tabla apartir del JSON
            console.log(data);
            for (var i = 0; i < data.length; i++) {
                var row = `<tr>
                <td>${data[i].años}</td>
                <td>${data[i].total}</td> 
                <td>${data[i].masculina}</td>  
                <td>${data[i].femenina}</td>    
                </tr>`
                  table.innerHTML += row


            }
        }
        /*se llama ala funcion al cargar la pagina*/
        /*FIN SCRIPT TABLA AL INICIO*/
    </script>






    
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      {{> navbar }}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        {{> nav }}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {{> pageheader }}
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Años vs Tasa Natalidad Total</h4>
                    
                    <div class="row">
                      <div class="card">
                        <div class="card-body">
                          
                           <div id="Grafico">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Filtros</h4>
                    <label class="form-label">Opción 1</label>
                    <select class="form-control form-control" id="exampleFormControlSelect3">
                      <option selected>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">

                      <button id="boton">Generar Contenido de las tablas</button> 
                    </div>
                  
                  <div class="card-footer clearfix d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-danger" id="btnPDF" onclick="downloadDoc()">
                        <i class="mdi mdi-file-pdf btn-icon-prepend"></i>PDF</button>
                      <button type="button" class="btn btn-info" id="btnPNG" onclick="downloadtable()">
                        <i class="mdi mdi-file-image btn-icon-prepend"></i>PNG</button>
                      <button type="button" class="btn btn-success" id="btnExcel" onclick="exportData()">
                        <i class="mdi mdi-file-excel btn-icon-prepend"></i>Excel</button>
                    </div>
                  </div> 

                  </div>
                   
                </div>
              </div>
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Tasa natalidad por años a nivel nacional</h4>
                      <p class="text-muted mb-1">Contenido de tabla</p>
                          
                    </div>      
                      <!-- TABLA DATOS -->                      
                      <div id="tabledatos" class="table-responsive table">

                        <table class="highchart" data-graph-container="#Grafico" data-graph-type="column">
                          <thead>
                            <tr>
                              <th>Años</th>
                              <th>Total</th>
                              <th>Masculina</th>
                              <th>Femenina</th>
                            </tr>
                          </thead>                          
                          <tbody id="tabledata">
                          </tbody>
                        </table> 
                      </div>     
                  
                   <!-- TABLA DATOS -->          
                  </div>
                </div>
              </div>
            </div>
            <!-- Figura 2-->
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Figura 2</h4>
                    <div class="row">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Pie chart</h4>
                          <canvas id="pieChart" style="height:250px"></canvas>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>   

            <div class="row">
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <h4 class="card-title mb-1">Tabla 2</h4>
                      <p class="text-muted mb-1">Contenido de tabla</p>
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th> User </th>
                              <th> First name </th>
                              <th> Progress </th>
                              <th> Amount </th>
                              <th> Deadline </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="py-1">
                                <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                              </td>
                              <td> Herman Beck </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td> $ 77.99 </td>
                              <td> May 15, 2015 </td>
                            </tr>
                            <tr>
                              <td class="py-1">
                                <img src="../../assets/images/faces-clipart/pic-2.png" alt="image" />
                              </td>
                              <td> Messsy Adam </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td> $245.30 </td>
                              <td> July 1, 2015 </td>
                            </tr>
                            <tr>
                              <td class="py-1">
                                <img src="../../assets/images/faces-clipart/pic-3.png" alt="image" />
                              </td>
                              <td> John Richards </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td> $138.00 </td>
                              <td> Apr 12, 2015 </td>
                            </tr>
                            <tr>
                              <td class="py-1">
                                <img src="../../assets/images/faces-clipart/pic-4.png" alt="image" />
                              </td>
                              <td> Peter Meggik </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td> $ 77.99 </td>
                              <td> May 15, 2015 </td>
                            </tr>
                            <tr>
                              <td class="py-1">
                                <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                              </td>
                              <td> Edward </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td> $ 160.25 </td>
                              <td> May 03, 2015 </td>
                            </tr>
                            <tr>
                              <td class="py-1">
                                <img src="../../assets/images/faces-clipart/pic-2.png" alt="image" />
                              </td>
                              <td> John Doe </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td> $ 123.21 </td>
                              <td> April 05, 2015 </td>
                            </tr>
                            <tr>
                              <td class="py-1">
                                <img src="../../assets/images/faces-clipart/pic-3.png" alt="image" />
                              </td>
                              <td> Henry Tom </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td> $ 150.00 </td>
                              <td> June 16, 2015 </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>                    
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Filtros</h4>
                    <label class="form-label">Opción 1</label>
                    <select class="form-control form-control" id="exampleFormControlSelect3">
                      <option selected>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="mb-3">
                        <label class="form-label">Opción 2</label>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value=""> Default </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" checked> Selected </label>
                        </div>
                      </div>  
                    </div>                    
                  </div>  
                  <div class="card-footer clearfix d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-danger" id="btnPDF" >
                        <i class="mdi mdi-file-pdf btn-icon-prepend"></i>PDF</button>
                      <button type="button" class="btn btn-info" id="btnPNG" >
                        <i class="mdi mdi-file-image btn-icon-prepend"></i>PNG</button>
                      <button type="button" class="btn btn-success" id="btnExcel">
                        <i class="mdi mdi-file-excel btn-icon-prepend"></i>Excel</button>
                    </div>
                  </div>                
                </div>
              </div>
              
            </div>
                       
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          {{> footer }}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

   
 <script>
   (function($){
    $(document).ready(function() {
       $("#boton").click(function(){
    $('table.highchart').highchartTable();
   })
  });

})(jQuery);

</script>



 <script>
 /*SCRIPT PARA COONVERTIR TABLA A PNG*/
  function downloadtable() {

    var node = document.getElementById('tabledatos');  /*LLAMADA ALA TABLA POR ID */

    domtoimage.toPng(node)
        .then(function (dataUrl) {
            var img = new Image();
            img.src = dataUrl;
            downloadURI(dataUrl, "tabla.png")
        })
        .catch(function (error) {
            console.error('Error', error);
        });

  }



  function downloadURI(uri, name) {
      var link = document.createElement("a");
      link.download = name;
      link.href = uri;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
      delete link;
  }


 /*FIN SCRIPT PARA COONVERTIR TABLA A PNG*/
</script>

<script>
  /*SCRIPT PARA COONVERTIR TABLA A PDF*/
	
function downloadDoc() {
        var sTable = document.getElementById('tabledatos').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }


/*FIN SCRIPT PARA COONVERTIR TABLA A PDF*/
</script>


<script>

  /*SCRIPT PARA COONVERTIR TABLA A EXCEL*/

  function exportData() {

    // Variable to store the final csv data
    var csv_data = [];

    // Get each row data
    var datos = document.getElementById('tabledatos');
    var rows = datos.getElementsByTagName('tr');
    for (var i = 0; i < rows.length; i++) {

      // Get each column data
      var cols = rows[i].querySelectorAll('td,th');

      // Stores each csv row data
      var csvrow = [];
      for (var j = 0; j < cols.length; j++) {

          // Get the text data of each cell of
          // a row and push it to csvrow
          csvrow.push(cols[j].innerHTML);
      }

      // Combine each column value with comma
      csv_data.push(csvrow.join(","));
    }
    // combine each row data with new line character
    csv_data = csv_data.join('\n');

    downloadCSVFile(csv_data);

    /* We will use this function later to download
    the data in a csv file downloadCSVFile(csv_data);
    */
  }

  function downloadCSVFile(csv_data) {
  
    // Create CSV file object and feed
    // our csv_data into it
    CSVFile = new Blob([csv_data], {
        type: "text/csv"
    });

    // Create to temporary link to initiate
    // download process
    var temp_link = document.createElement('a');

    // Download csv file
    temp_link.download = "Tabla.csv";
    var url = window.URL.createObjectURL(CSVFile);
    temp_link.href = url;

    // This link should not be displayed
    temp_link.style.display = "none";
    document.body.appendChild(temp_link);

    // Automatically click the link to
    // trigger download
    temp_link.click();
    document.body.removeChild(temp_link);
  }
/*FIN SCRIPT PARA COONVERTIR TABLA A EXCEL*/
</script>



    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->

    


  </body>
</html>
