<!DOCTYPE html>
<html lang="es">
  {{> header }}
  <body>

    <script type="text/javascript" src="assets/js/jquery-3.6.0.min.js">/*Jquery script */</script>  

<script src="assets/js/highcharts.js"></script>


<script src="assets/js/dom-to-image.js"> /*dom to image script */</script>

<script type="text/javascript" src="assets/js/pdfmake.min.js">/*PDF MAKE SCRIPT */</script>

<script type="text/javascript" src="assets/js/html2canvas.min.js">/*PDF,ETC MAKE SCRIPT */</script>

<script src="assets/js/popper.min.js">/*POPPER LIBRERIA */</script>

<script src="assets/js/jquery-ui.js"></script>

<script src="assets/js/jquery.highchartTable.js"></script>




    <script>
        /* Cargar la tabla al incio llamada a metodo get nodejs */
        window.onload = codeAddress;

        function codeAddress() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    const myObj = [JSON.parse(this.responseText)];  // se transforma el JSON
                    buildTable(myObj);

                }
            };
            xhttp.open("GET", "http://localhost:3000/list", true);
            xhttp.send();
        }

        function buildTable(data) {
            var table = document.getElementById('tabledata')   // se construye la tabla apartir del JSON
            console.log(data);
            for (var i = 0; i < data.length; i++) {
                var row = `<tr>
							<td>${data[i].cur_codigo}</td>
							<td>${data[i].id_materia}</td>
							<td>${data[i].aprobada}</td>
                            <td>${data[i].mtr_numero}</td>
                            <td>${data[i].cedula}</td>
                            <td>${data[i].formato}</td>
					  </tr>`
                table.innerHTML += row


            }
        }


        /*se llama ala funcion al cargar la pagina*/
        /*FIN SCRIPT TABLA AL INICIO*/
    </script>

    


    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      {{> navbar }}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        {{> nav }}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {{> pageheader }}
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Figura 1</h4>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-us"></i>
                                </td>
                                <td>USA</td>
                                <td class="text-right"> 1500 </td>
                                <td class="text-right font-weight-medium"> 56.35% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-de"></i>
                                </td>
                                <td>Germany</td>
                                <td class="text-right"> 800 </td>
                                <td class="text-right font-weight-medium"> 33.25% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-au"></i>
                                </td>
                                <td>Australia</td>
                                <td class="text-right"> 760 </td>
                                <td class="text-right font-weight-medium"> 15.45% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-gb"></i>
                                </td>
                                <td>United Kingdom</td>
                                <td class="text-right"> 450 </td>
                                <td class="text-right font-weight-medium"> 25.00% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-ro"></i>
                                </td>
                                <td>Romania</td>
                                <td class="text-right"> 620 </td>
                                <td class="text-right font-weight-medium"> 10.25% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-br"></i>
                                </td>
                                <td>Brasil</td>
                                <td class="text-right"> 230 </td>
                                <td class="text-right font-weight-medium"> 75.00% </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div id="audience-map" class="vector-map"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Filtros</h4>
                    <label class="form-label">Opci贸n 1</label>
                    <select class="form-control form-control" id="exampleFormControlSelect3">
                      <option selected>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="mb-3">
                        <label class="form-label">Opci贸n 2</label>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value=""> Default </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" checked> Selected </label>
                        </div>
                      </div>  
                    </div>
                  </div>
                  <div class="card-footer clearfix d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-danger" id="btnPDF" onclick="downloadDoc()">
                        <i class="mdi mdi-file-pdf btn-icon-prepend"></i>PDF</button>
                      <button type="button" class="btn btn-info" id="btnPNG" onclick="downloadtable()">
                        <i class="mdi mdi-file-image btn-icon-prepend"></i>PNG</button>
                      <button type="button" class="btn btn-success" id="btnExcel" onclick="exportData()">
                        <i class="mdi mdi-file-excel btn-icon-prepend"></i>Excel</button>
                    </div>
                  </div>  
                </div>
              </div>
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Tabla 1</h4>
                      <p class="text-muted mb-1">Contenido de tabla</p>
                          
                    </div>      
                      <!-- TABLA DATOS -->
                      
                      <div id="tabledatos">

                         <table>
                    
                   <tr class="bg-info">
                     <th>Curso Codigo</th>
                     <th>ID de materia</th>
                     <th>Aprobado</th>
                      <th>Numero de matricula</th>
                    <th>Cedula</th>
                      <th>Formato</th>
                       </tr>

                  <tbody id="tabledata">

                  </tbody>
                 </table> 


                      </div>
                  
                  <
                   <!-- TABLA DATOS -->          
                  </div>
                </div>
              </div>
            </div>
            <!-- Figura 2-->
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Figura 2</h4>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-us"></i>
                                </td>
                                <td>USA</td>
                                <td class="text-right"> 1500 </td>
                                <td class="text-right font-weight-medium"> 56.35% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-de"></i>
                                </td>
                                <td>Germany</td>
                                <td class="text-right"> 800 </td>
                                <td class="text-right font-weight-medium"> 33.25% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-au"></i>
                                </td>
                                <td>Australia</td>
                                <td class="text-right"> 760 </td>
                                <td class="text-right font-weight-medium"> 15.45% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-gb"></i>
                                </td>
                                <td>United Kingdom</td>
                                <td class="text-right"> 450 </td>
                                <td class="text-right font-weight-medium"> 25.00% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-ro"></i>
                                </td>
                                <td>Romania</td>
                                <td class="text-right"> 620 </td>
                                <td class="text-right font-weight-medium"> 10.25% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-br"></i>
                                </td>
                                <td>Brasil</td>
                                <td class="text-right"> 230 </td>
                                <td class="text-right font-weight-medium"> 75.00% </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div id="audience-map" class="vector-map"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>   

            <div class="row">
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Tabla 2</h4>
                      <p class="text-muted mb-1">Contenido de tabla</p>

                    </div>                    
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Filtros</h4>
                    <label class="form-label">Opci贸n 1</label>
                    <select class="form-control form-control" id="exampleFormControlSelect3">
                      <option selected>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="mb-3">
                        <label class="form-label">Opci贸n 2</label>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value=""> Default </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" checked> Selected </label>
                        </div>
                      </div>  
                    </div>                    
                  </div>  
                  <div class="card-footer clearfix d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-danger" id="btnPDF" >
                        <i class="mdi mdi-file-pdf btn-icon-prepend"></i>PDF</button>
                      <button type="button" class="btn btn-info" id="btnPNG" >
                        <i class="mdi mdi-file-image btn-icon-prepend"></i>PNG</button>
                      <button type="button" class="btn btn-success" id="btnExcel">
                        <i class="mdi mdi-file-excel btn-icon-prepend"></i>Excel</button>
                    </div>
                  </div>                
                </div>
              </div>
              
            </div>
                       
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          {{> footer }}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

   
 <script>
 /*SCRIPT PARA COONVERTIR TABLA A PNG*/
  function downloadtable() {

      var node = document.getElementById('tabledatos');  /*LLAMADA ALA TABLA POR ID */

      domtoimage.toPng(node)
          .then(function (dataUrl) {
              var img = new Image();
              img.src = dataUrl;
              downloadURI(dataUrl, "tabla.png")
          })
          .catch(function (error) {
              console.error('Error', error);
          });

  }



  function downloadURI(uri, name) {
      var link = document.createElement("a");
      link.download = name;
      link.href = uri;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
      delete link;
  }


 /*FIN SCRIPT PARA COONVERTIR TABLA A PNG*/
</script>

<script>
  /*SCRIPT PARA COONVERTIR TABLA A PDF*/
	function downloadDoc(){

html2canvas($("#tabledatos")[0],{   /*LLAMADA ALA TABLA POR ID */
	onrendered:function(canvas){
		var data=canvas.toDataURL();
		var docDefinition={
			content:[{
				image:data,
				width:500
			}]
		};
		pdfMake.createPdf(docDefinition).download("Tabla.pdf");
	}
})
	}
/*FIN SCRIPT PARA COONVERTIR TABLA A PDF*/
</script>


<script>

    /*SCRIPT PARA COONVERTIR TABLA A EXCEL*/

    function exportData() {
 
 // Variable to store the final csv data
 var csv_data = [];

 // Get each row data
 var datos = document.getElementById('tabledatos');
 var rows = datos.getElementsByTagName('tr');
 for (var i = 0; i < rows.length; i++) {

     // Get each column data
     var cols = rows[i].querySelectorAll('td,th');

     // Stores each csv row data
     var csvrow = [];
     for (var j = 0; j < cols.length; j++) {

         // Get the text data of each cell of
         // a row and push it to csvrow
         csvrow.push(cols[j].innerHTML);
     }

     // Combine each column value with comma
     csv_data.push(csvrow.join(","));
 }
 // combine each row data with new line character
 csv_data = csv_data.join('\n');

 downloadCSVFile(csv_data);

 /* We will use this function later to download
 the data in a csv file downloadCSVFile(csv_data);
 */
}

function downloadCSVFile(csv_data) {
 
 // Create CSV file object and feed
 // our csv_data into it
 CSVFile = new Blob([csv_data], {
     type: "text/csv"
 });

 // Create to temporary link to initiate
 // download process
 var temp_link = document.createElement('a');

 // Download csv file
 temp_link.download = "Tabla.csv";
 var url = window.URL.createObjectURL(CSVFile);
 temp_link.href = url;

 // This link should not be displayed
 temp_link.style.display = "none";
 document.body.appendChild(temp_link);

 // Automatically click the link to
 // trigger download
 temp_link.click();
 document.body.removeChild(temp_link);
}



/*FIN SCRIPT PARA COONVERTIR TABLA A EXCEL*/
</script>




    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->

    


  </body>
</html>