<!DOCTYPE html>
<html lang="es">
  {{> header }}
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      {{> navbar }}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        {{> nav }}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {{> pageheader }}
            <div class="row">
              <div class="col-12 ">
                <div class="card">
                  <div class="card-body">
                    <h4 class="title">Administración de información</h4>
                    <form class="form-sample">
                      <p class="card-description">Tenga en cuenta que usted puede agregar, modificar 
                        o eliminar información</p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tipo</label>
                            <div class="col-sm-3">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked> Agregar </label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value=""> Modificar </label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> Eliminar </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Dimensión</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option selected>Escoja una Dimensión...</option>
                                <option>DIM_1</option>
                                <option>DIM_2</option>
                                <option>DIM_3</option>
                                <option>DIM_4</option>
                                <option>DIM_5</option>
                                <option>DIM_6</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="card-description"> Datos </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Atributos</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option>AT_1</option>
                                <option>AT_2</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option>Category1</option>
                                <option>Category2</option>
                                <option>Category3</option>
                                <option>Category4</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer clearfix float-none float-sm-right d-block">
                        <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                        <button class="btn btn-dark">Cancelar</button>    
                      </div>                         
                    </form>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {{> footer }}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>